langgraph
langchain
langchain-core
langchain-community
langchain-openai
chromadb
python-dotenv
python-whois
dnspython
pydantic
certifi
httpx
phonenumbers
pypdf
pyexiftool
streamlit
nest_asyncio
imap-tools